pre {
  /* Rainbow gradient on <pre> tag */
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #F03339), color-stop(0.1, #F47A37), color-stop(0.2, #F2BC64), color-stop(0.3, #36BB5E), color-stop(0.4, #5079B9),color-stop(0.5, #7A5EA8), color-stop(0.6, #BC54A1), color-stop(1, #F03339) );
  background-image: gradient( linear, left top, right top, color-stop(0, #F03339), color-stop(0.1, #F47A37), color-stop(0.2, #F2BC64), color-stop(0.3, #36BB5E), color-stop(0.4, #5079B9),color-stop(0.5, #7A5EA8), color-stop(0.6, #BC54A1), color-stop(1, #F03339) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}

@media (max-width: 600px) {
  pre {  /* Welcome banner */
    font-size: 0.4rem;
  }
  p, output, table {  /* All other text */
    font-size: 0.9rem;
  }
  div.container {
    padding: 16px !important;  /* Narrower margins for mobile */
  }
}

.reveal li {
  font-size: 29px;
}
