<!doctype html>
<html lang="en">
  <head>
    <script src="js/terminal.js"></script>
    <link rel="stylesheet" media="all" href="css/terminal-1.0.2.min.css">
    <link rel="stylesheet" media="all" href="css/custom.css">
  </head>
  <div id="terminal"></div>

  <script>
    const welcome_banner_filename = 'misc/welcome_message.txt'  // Load ASCII banner
    fetch(welcome_banner_filename)
  .then(response => response.text())
  .then(text => document.getElementsByTagName("pre")[0].innerText = text)

    const welcome_messsage = `Welcome to my homepage!
<br>
 🐙 <a class="external" href="https://github.com/christabella" target="_blank">Github</a> | 
👔 <a class="external" href="https://www.linkedin.com/in/cirwanto" target="_blank">LinkedIn</a> | 
📔 <a class="external" href="https://bella.cc/blog" target="_blank">Blog</a>
<br>
With that out of the way, feel free to explore this space!
`

    var terminal = new Terminal('terminal', {welcome: welcome_messsage, prompt: '🍻', separator: '~'}, {
      execute: function(cmd, args) {
	switch (cmd) {
	case 'clear':
	  terminal.clear();
	  return '';

	case 'help':
	  return `Commands: clear, help, theme, ver or version<br>
`;

	case 'theme':
	  if (args && args[0]) {
	    if (args.length > 1) return 'Too many arguments';
	    else if (args[0].match(/^interlaced|modern|white$/)) { terminal.setTheme(args[0]); return ''; }
	    else return 'Invalid theme';
	  }
	  return terminal.getTheme();

	case 'ver':
	case 'version':
	  return '0.0.1 (beta)';

	default:
	  // Unknown command.
	  return `Unknown command '${cmd}' 🤷 <br>Use 'help' to see *some* available commands!`;
	};
      }
    });
    </script>
</html>
