<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christabella's Home</title>
    <script src="js/terminal.js"></script>
    <link rel="stylesheet" media="all" href="css/terminal-1.0.2.min.css">
    <link rel="stylesheet" media="all" href="css/custom.css">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <div id="terminal"></div>

  <script>
    const randomChoice = (arr) => arr[Math.floor(Math.random() * arr.length)];

    const welcome_banner_filename = 'misc/welcome_message.txt'  // Load ASCII banner
    fetch(welcome_banner_filename)
  .then(response => response.text())
  .then(text => document.getElementsByTagName("pre")[0].innerText = text)

    var jokes = []
    const jokesPromise = fetch('misc/jokes.txt').then(
      response => response.text()).then(
	// Strip trailing newline and split by newlines
	text => jokes = text.replace(/\n$/, "").split('\n')
      )
    const welcome_messsage = `Welcome to my homepage! My name is Christabella Irwanto, and various facets of my personality can be gleaned from
<br>
 🐙 <a class="external" href="https://github.com/christabella" target="_blank">Github</a> | 
👔 <a class="external" href="https://www.linkedin.com/in/cirwanto" target="_blank">LinkedIn</a> | 
📔 <a class="external" href="https://bella.cc/blog" target="_blank">Blog</a> |
🐦 <a class="external" href="https://twitter.com/hohoroboto" target="_blank">Twitter</a> |
📷 <a class="external" href="https://www.instagram.com/bellawanto/" target="_blank">Instagram</a> |
👥 <a class="external" href="https://www.facebook.com/christabella.irwanto" target="_blank">Facebook</a> |
💻 <a class="external" href="https://app.codesignal.com/profile/christabella" target="_blank">CodeSignal</a>
<br>
With that out of the way, feel free to explore this space 🚀~
`

    var terminal = new Terminal('terminal', {welcome: welcome_messsage, prompt: '', separator: '~'}, {
      execute: function(cmd, args) {
	switch (cmd) {
	case 'clear':
	  terminal.clear();
	  return '';

	case 'help':
	  return `Commands: clear, joke, theme, ver, whoami 🍻 <br>
`;

	case 'theme':
	  if (args && args[0]) {
	    if (args.length > 1) return 'Too many arguments';
	    else if (args[0].match(/^interlaced|modern|white$/)) { terminal.setTheme(args[0]); return ''; }
	    else return 'Invalid theme';
	  }
	  const theme = terminal.getTheme();
	  return `The current theme is: ${theme}. <br>Usage: theme [modern|interlaced|white]`

	case 'ver':
	case 'version':
	  return `0.0.1 (beta)
<br>
🙇 Any feature requests, joke contributions, bug reports, or feedback? Or just want to chat?
<br>
💬 Shoot me <a href="mailto:christabella.irwanto@gmail.com">an email</a>, or message me on
LinkedIn, Facebook, or say hi in real life if you can! When in Finland, my approximate location can usually be triangulated by Paniikki, Jämeräntaival 1, and Dipoli.
`;

	case 'whoami':
	  return `A lovely visitor! Have a great day 💖.`

        case 'joke':
	  return randomChoice(jokes);

	default:
	  // Unknown command.
	  return `Unknown command '${cmd}' 🤷 <br>Use 'help' to see <b>some</b> available commands!`;
	};
      }
    });
    </script>
</html>
